body {
  background: linear-gradient(165deg, #3c3c3c 0%, #b9b9b9 100%);
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
}
.homeimage {
  width: 600px;
  float: right;
  border-radius: 5px;
}
.Welcome {
  display: flex;
  
  flex-direction: column;
  padding-top: 220px;
}
.Welcome h1 {
  font-size: 50px;
}
.balance {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}